<!DOCTYPE html>
<html lang="en" xmlns:D="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>饼状图</title>

</head>
<!--  导入echarts和jquery包  -->
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

<!-- <script type="text/javascript" src="../js/echarts.common.js"></script>-->
<!--    <script type="text/javascript" src="../js/echarts.min.js"></script>-->
<!--    <script type="text/javascript" src="../js/jquery.min.js"></script>-->
<body>
<div id="main" style="width: 900px;height: 500px; "></div>
<script type="text/javascript"></script>

<script>
    function draw(data) {
        var myChart = echarts.init(document.getElementById("main"));
        var option = {
            title: {
                text: "南京图",
                textStyle: {
                    color: 'red',
                    fontSize: 21.6,
                    fontFamily: "STKAITI",
                    fontStyle:'italic',
                    fontWeight:'bold',
                    height: 200,
                }
            },


            series: [
                {
                    name: '城市',
                    type: 'pie',
                    radius: '90%',
                    data: data.data_pie
                }
            ],

            graphic: [

                {
                    type: 'image', // 图形元素类型
                    id: 'logo', // 更新或删除图形元素时指定更新哪个图形元素，如果不需要用可以忽略。
                    right: 'center', // 根据父元素进行定位 (居中)
                    bottom: '0%', // 根据父元素进行定位 (0%), 如果bottom的值是 0，也可以删除该bottom属性值。
                    z: 0, // 层叠
                    bounding: 'all', // 决定此图形元素在定位时，对自身的包围盒计算方式
                    style: {
                        image: 'http://pic-ldd-test.oss-cn-hangzhou.aliyuncs.com/md/20210203183202.png',
                        // 这里一定要注意、注意，必须是https开头的图片路径地址
                        width: 945,
                        height: 800,
                    }

                }],

               legend: {
                orient: 'vertical',
                left: 'right'
            },

        }
                option && myChart.setOption(option);
        }


        $.get('/piedata', function (data) {
            draw(data)
        }, 'json');
</script>
</body>
</html>